# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Tools used in Data science
* Libraries used in Data science
* Language used in Data science
* Arithmatic expressions in Python

Some of the popular languages that Data Scientists use are:
<li> Python
<li> R
<li> SQL

Some of the commonly used libraries used by Data Scientists include:
* Numpy
* Pandas
* TenserFlow

| Data Science Tools |
| ----- |
|Anaconda | 
|RStudio | 
|Jupyter notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

<li> a*b
<li> a/b

In [2]:
### This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60 
(200/60)

3.3333333333333335

## Author 
Issa Jelani Pierre